{% extends 'game_library_app/main_template.html' %}

{% block content %}
    <div class="container">
        <h1>User Profile: {{ siteuser.name }}</h1>
        <h2>Primary Console: {{ siteuser.platform }}</h2>
        <h2>Game Libraries:</h2>
        <ol>
            {% for library in game_libraries %}
                <li><a href="{{ library.get_absolute_url }}">{{ library.title }}</a></li>
            {% endfor %}
        </ol>
        <a href="{% url 'create_game_library' pk=siteuser.id %}" class="btn btn-primary">Create New Game Library</a>
    </div>

{% endblock %}