{% extends 'game_library_app/main_template.html' %}

{% block content %}
<div class="container">
    <h1>Current Users:</h1>

    <!-- If there are users in the database -->
    {% if user_list %}
        <ul> <!-- <ul> - Unordered List -->
            {% for user in user_list %} <!-- Loops through each student in user_list -->
                <li>
                <a href="{{ user.get_absolute_url }}">{{ user.name }}</a> <!-- Link to the user's profile page -->
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no registered users currently.</p>
    {% endif %}
</div>
{% endblock %}
